@page "/stressrecords/create"
@using Microsoft.EntityFrameworkCore
@using Minister_Of_Time.Domain
@inject IDbContextFactory<Minister_Of_Time.Data.Minister_Of_TimeContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h2>StressRecord</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="StressRecord" OnValidSubmit="AddStressRecord" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert"/>
            <div class="mb-3">
                <label for="stresslevel" class="form-label">StressLevel:</label> 
                <InputNumber id="stresslevel" @bind-Value="StressRecord.StressLevel" class="form-control" /> 
                <ValidationMessage For="() => StressRecord.StressLevel" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="fatiguelevel" class="form-label">FatigueLevel:</label> 
                <InputNumber id="fatiguelevel" @bind-Value="StressRecord.FatigueLevel" class="form-control" /> 
                <ValidationMessage For="() => StressRecord.FatigueLevel" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="userid" class="form-label">UserId:</label> 
                <InputNumber id="userid" @bind-Value="StressRecord.UserId" class="form-control" /> 
                <ValidationMessage For="() => StressRecord.UserId" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="calendareventid" class="form-label">CalendarEventId:</label> 
                <InputNumber id="calendareventid" @bind-Value="StressRecord.CalendarEventId" class="form-control" /> 
                <ValidationMessage For="() => StressRecord.CalendarEventId" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="datecreated" class="form-label">DateCreated:</label> 
                <InputDate id="datecreated" @bind-Value="StressRecord.DateCreated" class="form-control" /> 
                <ValidationMessage For="() => StressRecord.DateCreated" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="dateupdated" class="form-label">DateUpdated:</label> 
                <InputDate id="dateupdated" @bind-Value="StressRecord.DateUpdated" class="form-control" /> 
                <ValidationMessage For="() => StressRecord.DateUpdated" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="createdby" class="form-label">CreatedBy:</label> 
                <InputText id="createdby" @bind-Value="StressRecord.CreatedBy" class="form-control" /> 
                <ValidationMessage For="() => StressRecord.CreatedBy" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="updatedby" class="form-label">UpdatedBy:</label> 
                <InputText id="updatedby" @bind-Value="StressRecord.UpdatedBy" class="form-control" /> 
                <ValidationMessage For="() => StressRecord.UpdatedBy" class="text-danger" /> 
            </div>        
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/stressrecords">Back to List</a>
</div>

@code {
    [SupplyParameterFromForm]
    private StressRecord StressRecord { get; set; } = new();

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task AddStressRecord()
    {
        using var context = DbFactory.CreateDbContext();
        context.StressRecord.Add(StressRecord);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/stressrecords");
    }
}
