@page "/stressrecords"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using Minister_Of_Time.Domain
@using Minister_Of_Time.Data
@implements IAsyncDisposable
@inject IDbContextFactory<Minister_Of_Time.Data.Minister_Of_TimeContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="stressrecords/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.StressRecord">
    <PropertyColumn Property="stressrecord => stressrecord.StressLevel" />
    <PropertyColumn Property="stressrecord => stressrecord.FatigueLevel" />
    <PropertyColumn Property="stressrecord => stressrecord.UserId" />
    <PropertyColumn Property="stressrecord => stressrecord.CalendarEventId" />
    <PropertyColumn Property="stressrecord => stressrecord.DateCreated" />
    <PropertyColumn Property="stressrecord => stressrecord.DateUpdated" />
    <PropertyColumn Property="stressrecord => stressrecord.CreatedBy" />
    <PropertyColumn Property="stressrecord => stressrecord.UpdatedBy" />

    <TemplateColumn Context="stressrecord">
        <a href="@($"stressrecords/edit?id={stressrecord.Id}")">Edit</a> |
        <a href="@($"stressrecords/details?id={stressrecord.Id}")">Details</a> |
        <a href="@($"stressrecords/delete?id={stressrecord.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private Minister_Of_TimeContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
