@page "/about"
<PageTitle>About Us</PageTitle>

<div class="about-wrapper">
    <div class="top-accent"></div>

    <div class="glass-document">
        <header class="document-header">
            <img src="/images/SmallLogo.png" class="mini-seal" alt="Seal" />
            <h1 class="ministry-title">Official Mandate</h1>
        </header>

        <section class="mandate-box">
            <h2 class="gold-label">Our Vision</h2>
            <p class="mandate-text">To be the architect of a healthy life, where time is not lost, but invested in the pursuit of a purpuseful life.</p>
        </section>

        <section class="mandate-box">
            <h2 class="gold-label">Our Mission</h2>
            <p class="mandate-text">To provide the precision tools required for self-preservation, ensuring that work, health, and family coexist in a masterfully curated schedule.</p>
        </section>

        <section class="mandate-box">
            <h2 class="gold-label">The Minister of Time</h2>
            <p class="mandate-text">As an Application under the Minister Of Health Suite, this Minister of Time is specifically focusing on the time management. We are the silent guardians of your focus. In this digital era, the Minister of Time is your loyal asistant.</p>
        </section>

        <footer class="signature-line">
            <p>Signed and Decreed,</p>
            <span class="script-font">SingTime Health Tech Pte.Ltd</span>
        </footer>
    </div>
</div>