@page "/home"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.Authorization
@using Minister_Of_Time.Domain
@inject IDbContextFactory<Minister_Of_Time.Data.Minister_Of_TimeContext> DbFactory
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<div class="home-background">
    <div class="content-container">
        <AuthorizeView>
            <Authorized>
                <h1 class="user-name">Dear @(displayName ?? "...")</h1>
            </Authorized>
            <NotAuthorized>
                @* if user didn't login, no name will be displayey(However if the app work normally the user can only be in this page when login in, thus this fuction is only for testing) *@
                <h1 class="user-name">Welcome, Guest</h1>
            </NotAuthorized>
        </AuthorizeView>

        <img src="/images/BigLogo.png" class="logo-image" alt="Minister of Time Logo" />

        <p class="epicurus-quote">"Be moderate in order to taste the joys of life in abundance." - Epicurus</p>

        <div class="link-bar">
            <a href="/work" class="work-link">&lt;&lt;&lt;Work</a>
            <a href="/life" class="life-link">Life&gt;&gt;&gt;</a>
        </div>
    </div>
</div>

@code {
    private string? displayName;

    [CascadingParameter]
    private Task<AuthenticationState>? authStateTask { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (authStateTask != null)
        {
            var authState = await authStateTask;
            var user = authState.User;

            if (user.Identity is not null && user.Identity.IsAuthenticated)
            {
                using var context = DbFactory.CreateDbContext();

                string loginEmail = user.Identity.Name ?? "";

                var dbUser = await context.Set<User>()
                    .FirstOrDefaultAsync(u => u.Email.ToLower().Trim() == loginEmail.ToLower().Trim());

                if (dbUser != null && !string.IsNullOrEmpty(dbUser.Name))
                {
                    displayName = dbUser.Name;
                }
                else
                {
                    displayName = loginEmail;
                }
                StateHasChanged();
            }
        }
    }
}