.home-background {
    background-image: url('/images/LoginAndHome.png');
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 50px;
}

.content-container {
    display: flex;
    flex-direction: column;
    align-items: center; S
    text-align: center;
    color: white; 
}

.user-name {
    font-size: 4em;
    font-family: serif;
    margin-bottom: 20px;
    text-shadow: 0 0 10px black;
}

.logo-image {
    width: 250px; 
    height: auto;
    border: 3px solid white; 
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
}

.epicurus-quote {
    background-color: black;
    font-size: 1.2em;
    font-style: italic;
    margin-bottom: 10px;
    text-shadow: 1px 1px 3px black;
}


.link-bar {
    display: flex;
    justify-content: space-between;
    width: 600px; 
}

.work-link, .life-link {
    background-color: black;
    color: white;
    font-size: 1.5em;
    text-decoration: none;
    text-shadow: 0 0 10px black;
    font-weight: bold;
    padding: 10px;
}
