@page "/home"

<PageTitle>Home</PageTitle>

<div class="home-background">

    <div class="content-container">

        <h1 class="user-name">Dear Charles</h1>

        <img src="/images/BigLogo.png" class="logo-image" alt="Minister of Time Logo" />

        <p class="epicurus-quote">"Be moderate in order to taste the joys of life in abundance." - Epicurus</p>

        <div class="link-bar">
            <a href="/work" class="work-link">
                &lt;&lt;&lt;Work
            </a>
            <a href="/life" class="life-link">
                Life&gt;&gt;&gt;
            </a>
        </div>

    </div>

</div>
