@page "/life"
@rendermode InteractiveServer
@inject IJSRuntime JSRuntime
<PageTitle>Life Page</PageTitle>

<div class="life-background">

        <div class="charts-wrapper">
            <div class="chart-box">
                <h2 style="color: white;">Distribution</h2>
                <canvas id="lifePieChart"></canvas>
            </div>

            <div class="chart-box">
                <h2 style="color: white;">Weekly Progress</h2>
                <canvas id="lifeLineChart"></canvas>
            </div>
        </div>

    <div class="logo-title-container">
        <img src="/images/BigLogo.png" class="life-logo-image" alt="Minister of Time Logo" />
        <h1 class="life-main-title">Dear Charles</h1>
        <blockquote class="life-quote">"Caring for yourself is not self-indulgence, it is self-preservation, and that is an act of political warfare."</blockquote>
    </div>

    <a href="/home" class="life-link events-link">Back</a>

</div>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("renderLifeCharts"); @*call from app.raozr*@
        }
    }
}