@page "/life"
<PageTitle>Life Page</PageTitle>

<div class="life-background">

    <div class="logo-title-container">
        <img src="/images/BigLogo.png" class="life-logo-image" alt="Minister of Time Logo" />
        <h1 class="life-main-title">Dear Charles</h1>
        <blockquote class="life-quote">"Caring for yourself is not self-indulgence, it is self-preservation, and that is an act of political warfare."</blockquote>
    </div>

    <a href="/family" class="life-link family-link">Family</a>
    <a href="/hobby" class="life-link hobby-link">Hobby</a>
    <a href="/health" class="life-link health-link">Health</a>
    <a href="/events" class="life-link events-link">Events</a>

</div>