@page "/"

<PageTitle>Home</PageTitle>z

<div class="home-background">

    <video autoplay muted loop playsinline class="background-video">
        <source src="/videos/LoginPageBackground.mp4" type="video/mp4">
    </video>

    <div class="content-container">

        <h1 class="user-name">Greeting Sire</h1>

        <img src="/images/BigLogo.png" class="logo-image" alt="Minister of Time Logo" />

        <p class="epicurus-quote">"Be moderate in order to taste the joys of life in abundance." - Epicurus</p>

        <div class="link-bar">
             <P>Please key in your user name and password</P>
        </div>

    </div>

</div>
