.work-background {
    background-image: url('/images/Work.png'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100%;
    position: relative;
}

.work-header-block {
    position: absolute;
    top: 50px;
    left: 50px;
    text-align: left;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 15px;
    border-radius: 5px;
    max-width: 200px;
}

.work-main-title {
    font-size: 1.5em;
    margin-bottom: 5px;
    text-shadow: 0 0 5px #000;
}

.work-logo-image {
    width: 80px;
    height: auto;
    margin-bottom: 5px;
}

.work-quote {
    font-size: 0.9em;
    margin: 0;
    padding: 0;
    border: none;
    font-style: italic;
}

.work-link {
    position: absolute; 
    color: #40f0ff; 
    font-size: 1.2em;
    text-decoration: none;
    font-weight: bold;
    text-shadow: 0 0 10px #40f0ff, 0 0 20px #0000ff;
    padding: 5px 10px;
    border-radius: 3px;
    border: 1px solid #40f0ff;
    background-color: rgba(0, 0, 0, 0.5); 
}

.vision-link {
    bottom: 30%;
    left: 20%;
    transform: rotate(-10deg);
}

.statistics-link {
    bottom: 35%;
    left: 48%; 
    text-align: center;
}

.matrix-link {
    bottom: 30%;
    right: 25%;
    transform: rotate(10deg); 
}

.life-link {
    position: absolute;
    color: white;
    font-size: 1.5em;
    text-decoration: none;
    font-weight: bold;
    text-shadow: 2px 2px 5px black;
    padding: 5px;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.4);
}

.events-link {
    bottom: 20%;
    right: 15%;
}